package server

import (
	"net"

	"google.golang.org/grpc"
	"{{.ModuleName}}/internal/handler"
	pb "{{.ModuleName}}/proto"
)

type Server struct {
	grpcServer *grpc.Server
}

func NewServer() *Server {
	return &Server{}
}

func (s *Server) Start(port string) error {
	lis, err := net.Listen("tcp", port)
	if err != nil {
		return err
	}

	s.grpcServer = grpc.NewServer()
	pb.RegisterHealthServiceServer(s.grpcServer, handler.NewHandler())

	return s.grpcServer.Serve(lis)
}

func (s *Server) Stop() {
	if s.grpcServer != nil {
		s.grpcServer.GracefulStop()
	}
}