# {{.ProjectName}}

{{.Description}}

## Installation
```bash
go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
```

## Usage

Generate proto files:
```bash
protoc --go_out=. --go_opt=paths=source_relative --go-grpc_out=. --go-grpc_opt=paths=source_relative proto/service.proto
```

Run server:
```bash
go run cmd/server/main.go
```

Server will start on :50051