package router

import (
    "{{.ModuleName}}/internal/handler"
    "github.com/gin-gonic/gin"
)

func NewRouter() *gin.Engine {
    r := gin.Default()
    
    r.GET("/health", handler.Health)
    
    return r
}